{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "default-case": 0,
    "no-warning-comments": ["warn", { "terms": ["todo", "fixme"], "location": "anywhere" }]
  }
}
